*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--AlmostWhite: hsl(0, 0%, 98%);
	--MediumGray: hsl(0, 0%, 41%);
	--AlmostBlack: hsl(0, 0%, 8%);
}

body {
	color: var(--MediumGray);
	background-color: var(--AlmostWhite);
	font-weight: 500;
	font-size: 1.125rem;
}

a {
	text-decoration: none;
	color: var(--MediumGray);
	font-weight: 500;
	cursor: pointer;
}

.company p, .features p {
	cursor: pointer;
	color: var(--MediumGray);
}

a:hover, .company p:hover, .features p:hover, .register:hover {
	color: var(--AlmostBlack);
	border-color:  var(--AlmostBlack);
}

ul {
	list-style-type: none;
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-between {
	justify-content: space-between;
	align-items: center;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}


