*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--AlmostWhite: hsl(0, 0%, 98%);
	--MediumGray: hsl(0, 0%, 41%);
	--AlmostBlack: hsl(0, 0%, 8%);
}

body {
	color: var(--AlmostBlack);
	font-weight: 500;
	font-size: 1.125rem;
}

a {
	text-decoration: none;
	color: var(--AlmostBlack);
	font-weight: 500;
}

ul {
  list-style-type: none;
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-between {
	justify-content: space-between;
	align-items: center;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

header {
	padding: 1.5rem 1rem 0 1.5rem;
}

.desktop-nav {
	display: none;
}

.mobile-nav-items {
  background-color: white;
  padding: 1.5rem 1rem 0 1.5rem;
  width: 80%;
  height: 100vh;
  top: 0;
  right: 0;
}

.close-btn {
  justify-content: end;
}
